<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body ng-app="myApp" ng-controller="todoCtrl" align="center" ng-init="ss=5">


<form ng-submit="todoAdd()">
    <input type="text" ng-model="todoInput" size="60" placeholder="Add New"  />

    <input type="submit" value="Add To List">
    
</form>
<br>
<p ng-show="ss<2">Empty!!! </p>
<br>

<div ng-repeat="x in todoList">
    <input type="checkbox" ng-model="x.done"> <span  ng-bind="x.todoText"></span>
</div>

<p><button ng-click="remove()">Remove</button></p>

<script src="script.js"></script>
</body>
</html>
